<div class="div__create-task">
  <button (click)="goToCreateTaskPage()"> Créer une tâche </button>
</div>

<ul>
  <li>
    <p> Titre de la tâche </p>
    <p> Description de la tâche </p>
    <p> Statut de la tâche : En cours </p>
    <div>
      <button> Modifier </button>
      <button> Supprimer </button>
    </div>
  </li>

  <li>
    <p> Titre de la tâche </p>
    <p> Description de la tâche </p>
    <p> Statut de la tâche : En cours </p>
    <div>
      <button> Modifier </button>
      <button> Supprimer </button>
    </div>
  </li>

  <li>
    <p> Titre de la tâche </p>
    <p> Description de la tâche </p>
    <p> Statut de la tâche : En cours </p>
    <div>
      <button> Modifier </button>
      <button> Supprimer </button>
    </div>
  </li>

</ul>
