<div class="authentification-container">
  <fieldset>
    <legend> {{ formTitle() }} </legend>
    <form [formGroup]="authentificationForm" class="authentification-form">
      <div class="div__input-authentification">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" formControlName="email">
      </div>

      <div class="div__input-authentification">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" formControlName="password">
      </div>

      <button (click)="submitAuthentificationForm()">
        {{ formTitle() === 'Connexion' ? 'Se connecter' : 'S\'inscrire' }}
      </button>
    </form>
  </fieldset>

</div>
