<div class="div__task-form">

  <fieldset>
    <legend>ToDo Form</legend>
    <form class="task-form" [formGroup]="todoForm"> <!-- 2e etape : cibler la balise parent de mon formulaire -->
      <div class="div__input-task">
        <label for="title-task">Titre de la tâche</label>
        <input type="text" id="title-task" formControlName="todoTitle"> <!-- 4e etape : le binding par le formControleName-->
      </div>
      @if (todoForm.controls.todoTitle.errors && todoForm.controls.todoTitle.errors['required'] && todoForm.controls.todoTitle.dirty) {
        <span class="span__error"> Champ obligatoire.</span>
      }
      @if (todoForm.controls.todoTitle.errors && todoForm.controls.todoTitle.errors['minlength'] && todoForm.controls.todoTitle.dirty) {
        <span class="span__error">Caractère minimum est de 5.</span>
      }

      <div class="div__input-task">
        <label for="description-task">Description de la tâche</label>
        <textarea type="text" id="description-task" formControlName="todoDescription"></textarea>
      </div>
      @if (todoForm.controls.todoDescription.invalid && todoForm.controls.todoDescription.dirty) {
        <span class="span__error">La description est obligatoire.</span>
      }

      <!-- <pre> Todo form {{todoForm.invalid }}</pre> -->
      <button [disabled]="todoForm.invalid" (click)="onSaveTask()">Enregistrer</button> <!-- On peut binder 95% des attributs html-->
    </form>

  </fieldset>

</div>


<!--
  [] property binding
  () event binding
  [()] two way binding
-->
